/* Global Styles */

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif, Arial;
  box-sizing: border-box;
}

/* Header Styles */

.header {
  background-color: #1f1f3d;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 18px;
  text-align: right;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

/* logo area */

.logo {
  display: flex;
  align-items: center;

}

/* logo image */

.logo img {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;

}

/* Navigation Styles */

nav {
  display: flex;
  gap: 10px;
  align-items: center
}

/* main content area my name  */

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  text-align: center;
  font-size: 30px;
}

/* line */
#lne {
  margin: 30px;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

#gmail,
#insta,
#linkedin,
#twitter {
  display: inline-block;
  margin: 0 10px;
}


.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -240px;
  margin-bottom: 250px;
  padding: 10px;
  gap: 12px;
}

#gmail img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
  border-radius: 50%;
  background: #141428;
  /* slightly lighter than background */
  border-radius: 50%;
  padding: 3px;
  transition: all 0.3s ease;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6), 0 0 10px rgba(255, 255, 255, 0.05) inset;
}

#insta img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
  border-radius: 50%;
  background: #141428;
  /* slightly lighter than background */
  border-radius: 50%;
  padding: 3px;
  transition: all 0.3s ease;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6), 0 0 10px rgba(255, 255, 255, 0.05) inset;
}

#Git img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
  border-radius: 50%;
  background: #141428;
  /* slightly lighter than background */
  border-radius: 50%;
  padding: 3px;
  transition: all 0.3s ease;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6), 0 0 10px rgba(255, 255, 255, 0.05) inset;
}

#twitter img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
  border-radius: 50%;
  background: #141428;
  /* slightly lighter than background */
  border-radius: 50%;
  padding: 3px;
  transition: all 0.3s ease;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6), 0 0 10px rgba(255, 255, 255, 0.05) inset;
}


#linkedin img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
  border-radius: 50%;
  background: #141428;
  /* slightly lighter than background */
  border-radius: 50%;
  padding: 3px;
  transition: all 0.3s ease;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6), 0 0 10px rgba(255, 255, 255, 0.05) inset;
}

#gmail img:hover,
#insta img:hover,
#Git img:hover,
#twitter img:hover,
#linkedin img:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.7),
    0 0 15px rgba(0, 168, 232, 0.3);
  color: #00A8E8;
}

/* body */
body {
  background-color: #0f0f1e;
  color: white;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  /* space between menu items */

}

nav a {
  position: relative;
  color: white;
  text-decoration: none;
  font-weight: 600;
  padding: 8px 15px;
  /* inner padding */
  transition: background 0.3s ease;
}

/* Hover background */
nav a:hover {
  background: #fca311;
  /* orange */
  border-radius: 4px;
}

/* Underline effect */
nav a::after {
  content: '';
  position: absolute;
  left: 100%;
  bottom: -8px;
  /* creates the GAP you want */
  width: 0;
  height: 3px;
  background: #fca311;
  transition: all 0.3s ease;
}

/* Animate line from right to left */
nav a:hover::after {
  left: 0;
  width: 100%;
}

.about-section {
  
  margin-top: 200px;
  /* to avoid overlap with fixed header */
  text-align: left;
  padding: 3px;
  padding-left: 50px;
}

.statement {
  /* background-color:orange ; */
  margin-right: 300px;
  margin-left: 200px;
  padding-right: 60px;
  padding-left: 30px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.about-section h2 {
  color: white;
  font-size: 36px;
  margin-bottom: 100px;

}