/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Header Styles */

.header {
  background-color: #1f1f3d;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 18px;
  text-align: right;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

/* logo area */

.logo {
  display: flex;
  align-items: center;
}

/* logo image */

.logo img {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Navigation Styles */

nav {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* main content area my name  */

/* body */
body {
  background-color: #0f0f1e;
  color: white;
  height: 100%;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* min-height: 90vh; */
  text-align: center;
  font-size: 30px;
  margin-top: 86px;
  padding-top: 40px;
  margin-top: 250px;
}

#hero h1,
span {
  font-family: 'Spectral';
}

/* line */
#lne {
  margin: 30px;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

#gmail,
#insta,
#Git,
#linkedin,
#twitter {
  display: inline-block;
  margin: 0 10px;
  margin-top: 80px;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  padding: 10px;
  gap: 12px;
}

#gmail img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
  border-radius: 50%;
  background: #141428;
  padding: 3px;
  transition: all 0.3s ease;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6), 0 0 10px rgba(255, 255, 255, 0.05) inset;
}

#insta img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
  border-radius: 50%;
  background: #141428;
  padding: 3px;
  transition: all 0.3s ease;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6), 0 0 10px rgba(255, 255, 255, 0.05) inset;
}

#Git img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
  border-radius: 50%;
  background: #141428;
  padding: 3px;
  transition: all 0.3s ease;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6), 0 0 10px rgba(255, 255, 255, 0.05) inset;
}

#twitter img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
  border-radius: 50%;
  background: #141428;
  padding: 3px;
  transition: all 0.3s ease;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6), 0 0 10px rgba(255, 255, 255, 0.05) inset;
}

#linkedin img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
  border-radius: 50%;
  background: #141428;
  padding: 3px;
  transition: all 0.3s ease;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6), 0 0 10px rgba(255, 255, 255, 0.05) inset;
}

#gmail img:hover,
#insta img:hover,
#Git img:hover,
#twitter img:hover,
#linkedin img:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.7),
    0 0 15px rgba(0, 168, 232, 0.3);
  color: #00A8E8;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  position: relative;
  color: white;
  text-decoration: none;
  font-weight: 600;
  padding: 8px 15px;
  transition: background 0.3s ease;
}

/* Hover background */
nav a:hover {
  background: #fca311;
  border-radius: 4px;
}

/* Underline effect */
nav a::after {
  content: '';
  position: absolute;
  left: 100%;
  bottom: -8px;
  width: 0;
  height: 3px;
  background: #fca311;
  transition: all 0.3s ease;
}

/* Animate line from right to left */
nav a:hover::after {
  left: 0;
  width: 100%;
}

.about-section {
  position: relative;
  top: 130px;
}

#abt h2 {
  font-family: 'Spectral';
  background-color: #071221;
  box-shadow: 0 0 30px 1px rgb(21, 26, 78, 0.6);
  position: absolute;
  text-align: end;
  color: orange;
  font-size: 40px;
  margin-right: 448px;
  right: 0;
  top: -70px;
  padding: 2px 20px 2px 20px;
  border-radius: 12px;
}

.statement {
  position: absolute;
  font-size: 16px;
  right: 30px;
  text-align: end;
  top: 110px;
  left: 800px;
  padding: 20px 20px 20px 32px;
  background-color: #071221;
  box-shadow: 0 0 30px 1px rgb(21, 26, 78);
  border-radius: 20px;
}

.statement p {
  font-family: 'Spectral';
}

.statement p strong {
  font-family: 'Spectral';
  color: #fca311;
  font-weight: bold;
}

.image {
  margin-top: 103px;
  margin-left: 100px;
  right: 0;

}

img {
  width: 350px;
  height: 450px;
  border-radius: 15px;
  justify-content: center;
  background-color: #071221;
  box-shadow: 0 0 30px 1px rgb(21, 26, 78, 0.6);
  /* box-shadow: 0 10px 30px rgba(181, 168, 168, 0.3), 
                  0 0 20px rgba(60, 66, 124, 0.3); */
  object-fit: cover;
  transition: transform 0.3s ease;
}

.skill-section {
  position: flex;
  top: 130px;
  /* font-family: 'Open+Sans'; */
}


#Skill-heading {
  /* background-color: aqua; */
  font-family: 'Open+Sans';
  color: #071221;
  font-size: 30px;
  position: relative;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  top: 180px;
  /* text-shadow: 2px #071221; */

}

.frt-container {
  background: linear-gradient(to top, #000000, rgb(52, 50, 199));
  text-align: center;
  opacity: 0.8;
  border-radius: 20px;
  padding: 50px 40px;
  width: 300px;
  min-height: 360px;
  display: relative;
  margin: 90px;
  flex-direction: column;
  justify-content: flex-start;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  margin-top: 260px;
  box-shadow: 2px 2px 5px rgb(52, 50, 199, 0.2),
    -2px -2px 5px rgba(0, 0, 0, 0.5);
}

#Frt h3 {
  /* background-color: orange; */
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 60px;
  color: white;
  text-shadow: 2px 2px #071221;
}

#html {
  text-align: left;
  /* margin-right: 20vh; */
  background: #2f2db4;
  padding: 6px 20px 6px 20px;
  margin-right: 135px;
  margin-left: 0px;
  border-radius: 7px;
  box-shadow: 1px 1px 12px 2px rgb(29, 29, 49);
}

#css {
  text-align: right;
  /* margin-right: 20vh; */
  background: #2f2db4;
  padding: 6px 20px 6px 20px;
  margin-right: 0px;
  margin-left: 145px;
  margin-top: -32px;
  border-radius: 7px;
  box-shadow: 1px 1px 12px 2px rgb(29, 29, 49);
}

#JS {
  text-align: center;
  margin-top: 50px;
  background-color: #2f2db4;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-right: 50px;
  margin-left: 50px;
  border-radius: 7px;
  box-shadow: 1px 1px 12px 2px rgb(0, 0, 0);
}


.frt-container:hover {
  cursor: pointer;
  opacity: 1;
  transform: translateY(-30px);
  box-shadow: 0 20px 40px rgba(79, 70, 229, 0.3);
}


.frt-container:active {
  opacity: 1.1;
}



.Frame-container {
  background: linear-gradient(to top, #000000, rgb(52, 50, 199));
  text-align: center;
  opacity: 0.8;
  border-radius: 20px;
  padding: 50px 40px;
  width: 300px;
  min-height: 360px;
  display: relative;
  flex-direction: column;
  justify-content: flex-start;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  margin-right: 600px;
  margin-bottom: 0;
  margin-top: -350px;
  margin-left: 600px;
  box-shadow: 2px 2px 5px rgb(52, 50, 199, 0.2),
    -2px -2px 5px rgba(0, 0, 0, 0.5);
}

#frm {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 60px;
  color: white;
  text-shadow: 2px 2px #071221;
}

#rct {
  text-align: left;
  /* margin-right: 20vh; */
  background: #2f2db4;
  padding: 6px 20px 6px 20px;
  margin-right: 135px;
  margin-left: 0px;
  border-radius: 7px;
  box-shadow: 1px 1px 12px 2px rgb(29, 29, 49);
}

#Dj {
  text-align: right;
  /* margin-right: 20vh; */
  background: #2f2db4;
  padding: 6px 20px 6px 20px;
  margin-right: -10px;
  margin-left: 145px;
  margin-top: -32px;
  border-radius: 7px;
  box-shadow: 1px 1px 12px 2px rgb(29, 29, 49);
}

#mst {
  text-align: center;
  margin-top: 50px;
  background-color: #2f2db4;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-right: 50px;
  margin-left: 50px;
  border-radius: 7px;
  box-shadow: 1px 1px 12px 2px rgb(0, 0, 0);
}

.Frame-container:hover {
  cursor: pointer;
  opacity: 1;
  transform: translateY(-30px);
  box-shadow: 0 20px 40px rgba(79, 70, 229, 0.3);
}

#Frame-container:active {
  opacity: 1.1;
}

.backend-container {
  background: linear-gradient(to top, #000000, rgb(52, 50, 199));
  text-align: center;
  opacity: 0.8;
  border-radius: 20px;
  padding: 50px 40px;
  width: 300px;
  min-height: 360px;
  display: relative;
  margin: 90px;
  flex-direction: column;
  float: right;
  justify-content: flex-start;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  margin-top: -460px;
  box-shadow: 2px 2px 5px rgb(52, 50, 199, 0.2),
    -2px -2px 5px rgba(0, 0, 0, 0.5);

}

.backend-container:hover {
  cursor: pointer;
  opacity: 1;
  transform: translateY(-30px);
  box-shadow: 0 20px 40px rgba(79, 70, 229, 0.3);
}

.backend-container:active {
  opacity: 1.1;
}

#bac {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 60px;
  color: white;
  text-shadow: 2px 2px #071221;
}

#jv {
  text-align: left;
  /* margin-right: 20vh; */
  background: #2f2db4;
  padding: 6px 20px 6px 20px;
  margin-right: 140px;
  margin-left: 0px;
  border-radius: 7px;
  box-shadow: 1px 1px 12px 2px rgb(29, 29, 49);
}

#g {
  text-align: center;
  /* margin-right: 20vh; */
  background: #2f2db4;
  padding: 6px 20px;
  margin-left: 160px;
  margin-top: -32px;
  border-radius: 7px;
  box-shadow: 1px 1px 12px 2px rgb(29, 29, 49);
}

#py {
  text-align: center;
  margin-top: 50px;
  background-color: #2f2db4;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-right: 50px;
  margin-left: 50px;
  border-radius: 7px;
  box-shadow: 1px 1px 12px 2px rgb(0, 0, 0);
}